<div>
  <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search by name or ID">
  <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="openAddPatientDialog()">Add Patient</button>
</div>
<table mat-table [dataSource]="filteredPatients | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" class="mat-elevation-z8">
 
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Patient Id </th>
    <td mat-cell *matCellDef="let patient"> {{patient.id}} </td>
  </ng-container>
 
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <!-- <td mat-cell *matCellDef="let patient"> {{patient.name}} </td> -->

    <td mat-cell *matCellDef="let patient">
      <a href="#" (click)="openPatientDetails(patient); $event.preventDefault();">{{patient.name}}</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>